nav{
    width: 65%; 
    min-height: 10vh;
    padding: 0 0 0 5%; 
    @include flex(row, space-between, center); 
    flex-wrap: wrap ; 
}

.logo-container{
    @include flex(row, auto, center); 
    flex: 1 1 30rem; 

    h1{
        padding: 1rem; 
    }
}

ul{
    flex: 1 1 40rem; 
    @include flex(row, space-around, center); 

    li{
        flex: 1 1 5rem; 
        text-align: center;
        a{
            display: inline-block; 
            padding:1rem; 
        }
    }
}