nav{
    width: 60%; 
    min-height: 10vh; 
    padding: 0rem 0 0rem 5%; 
    @include flex(row, space-between, center); 
    flex-wrap: wrap ; 
}

.logo-container{
    @include flex(row, auto, center); 
    flex: 1 1 30rem; 

    h1{
        padding: 2rem; 
    }
}

ul{
    flex: 1 1 30rem; 
    @include flex(row, space-around, center); 

    li{
        flex: 1 1 5rem; 
        a{
            padding:2rem; 
        }
    }
}