* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.8rem;
}

h5 {
  font-size: 2.8rem;
}

li,
p,
button,
a,
input,
label {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

ul {
  list-style: none;
}

button {
  border: none;
}

.active {
  background: #154353;
  border-radius: .8rem;
  color: white;
}

nav {
  width: 65%;
  min-height: 10vh;
  padding: 0 0 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
}

.logo-container h1 {
  padding: 1rem;
}

ul {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 5rem;
          flex: 1 1 5rem;
  text-align: center;
}

ul li a {
  display: inline-block;
  padding: 1rem;
}

.intro {
  padding: 0 2% 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 90vh;
}

.intro-text-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 35rem;
          flex: 1 1 35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-right: 5rem;
}

.intro-text-container header span {
  font-size: 8rem;
  background: -webkit-gradient(linear, left top, right top, from(#38d38f), to(#38a4d3));
  background: linear-gradient(left, #38d38f, #38a4d3);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 2rem;
}

.intro-text-container header h2 {
  padding: 1rem 0;
}

.intro-text-container p {
  padding: 1rem 0;
}

.intro-links-container {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10rem;
}

.intro-links-container img {
  width: 4rem;
}

.intro-imgs-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 35rem;
          flex: 1 1 35rem;
}

.intro-imgs-container svg {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.splash {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100vh;
  z-index: -1;
}

#plant-right {
  -webkit-animation: plant-right-animation 2s ease infinite alternate;
          animation: plant-right-animation 2s ease infinite alternate;
}

#plant-left {
  -webkit-animation: plant-left-animation 2s ease infinite alternate 1s;
          animation: plant-left-animation 2s ease infinite alternate 1s;
}

#clock-arrow {
  -webkit-animation: clock-arrow-rotate 2s linear infinite;
          animation: clock-arrow-rotate 2s linear infinite;
  transform-box: fill-box;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

@-webkit-keyframes plant-right-animation {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
}

@keyframes plant-right-animation {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
}

@-webkit-keyframes plant-left-animation {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
}

@keyframes plant-left-animation {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
}

@-webkit-keyframes clock-arrow-rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes clock-arrow-rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media screen and (max-width: 1450px) {
  nav {
    width: 100%;
    padding-right: 5%;
  }
  .splash {
    display: none;
  }
}

@media screen and (max-width: 945px) {
  html {
    font-size: 50%;
  }
  .intro-text-container {
    -ms-flex-preferred-size: 47rem;
        flex-basis: 47rem;
  }
  .intro-imgs-container {
    -ms-flex-preferred-size: 47rem;
        flex-basis: 47rem;
  }
}

@media screen and (max-width: 809px) {
  .intro {
    padding: 0;
  }
  .intro-text-container {
    padding: 4rem 1rem;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .intro-text-container header span {
    display: block;
    font-size: 7rem;
  }
  .intro-links-container {
    width: 25%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .intro-imgs-container {
    height: 50vh;
  }
}

@media screen and (max-width: 678px) {
  nav {
    padding: 0 0;
  }
  nav ul {
    -ms-flex-preferred-size: 47.375rem;
        flex-basis: 47.375rem;
  }
  .logo-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: 37.375rem;
        flex-basis: 37.375rem;
  }
  .logo-container h1 {
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 74.75rem;
            flex: 1 1 74.75rem;
  }
}
/*# sourceMappingURL=style.css.map */