$header-1: 2.6rem; 
$header-2: 4rem; 
$header-3: 3rem; 
$header-4: 2.8rem; 
$normal-text: 2rem; 
$gradient: linear-gradient(left, #38d38f, #38a4d3); 
$background-color: #154353; 
$gray-text: #2c2c2c; 

@mixin flex($direction, $justify, $align){
    display: flex; 
    flex-direction: $direction; 
    justify-content: $justify;
    align-items: $align; 
}

@import "global-styles";  
@import "nav-section"; 
@import "intro-styles"; 

